<%-include ('head.ejs') %>   

        <% for (let i=0; i < products.length; i++) { %>
            <li>Name: <%= products[i].name %>,
                    Price: <%= products[i].price %>
                        Description: <%= products[i].description %>
                        Id:<%=products[i].id%>
            </li>
                            <% } %>
            
  

<%-include ('end.ejs') %> 